<ul *ngFor="let post of service.posts">

  <li [ngClass]="{'list-group-item': true,
                'list-group-item-danger': post.postLoveIts< 0,
                'list-group-item-success':post.postLoveIts> 0}"
                 [ngStyle]="{ 'margin': '2.5em 0' }">
                 
    <h4 style="float: right;">{{ post.postCreatedAt  | date :'short'}}</h4>
    <h2>{{ post.postTitle }} </h2>
  
    <p>{{ post.postContent }} </p>

    <button class="btn btn-success" (click)="onLoveIts(post)">Love It!</button>
    &nbsp;&nbsp;

    <button class="btn btn-danger" (click)="onNotLoveIts(post)">Don't Love It!</button>

    <button style="float: right;" class="btn btn-danger" (click)="onDeletepost(post)">Supprimer Post</button>
  </li>
</ul>